.addItems {
  display: flex;
  justify-content: center;
  align-items: center;
}
figure {
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  background-color: floralwhite;
}
.form-control {
  padding: 10px 10px 10px 10px;
  font-size: 15px;
  margin-right: 14px;
}
